html {
    background-color: whitesmoke;
}

.titre {
    padding-top: 80px;
}

.description {
    text-align: center;
    margin-top: 5px;
}

img {
    width: 25%;
    height: 17.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

ul {
    padding: 0;
}

.projets {
    list-style: none;
    text-align: center;
}

.projets > h3 {
    margin-bottom: 0;
}


