@font-face {
    font-family: "Silkscreen";
    src: url('/font/slkscr.ttf') format("truetype");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url('/font/CaviarDreams.ttf') format("truetype");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url('/font/Poppins-light.otf') format("opentype");
}


main {
    background-color: whitesmoke;
}

header {
    background-color: #0C592E;
    position: fixed;
    width: 100%;
}

.article1 > h2 {
    padding-top: 80px;
}

header > h1 {
    font-family: Caviar Dreams;
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: left;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: Poppins;
    margin-left: 15px;
    margin-right: 5px;
    text-align: left;
    line-height: 30px;
}

blockquote, aside {
    color: #BF1F1F;
    font-family: Silkscreen;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-family: Caviar Dreams;
    text-align: center;
}

h2 {
    font-family: Poppins;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 10px;
    color: #0C592E;
}

h3 {
    font-family: Poppins;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 10px;
    color: #F2A71B;
}

footer {
    background-color: #0C592E;
    color: white;
    font-family: Poppins;
    text-align: left;
    margin: 0;
}

footer > p {
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_image {
    display: block;
    width: 25%;
    height: 17.5%;
    margin-left: auto;
    margin-right: auto;
}

.bouton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    width: 25%;
    height: 17.5%;
}