





aside   {
    color: red;
    font-family: Silkscreen;
    text-align: center;
}

h1{
    font-family: Caviar Dreams;
    text-align: center;
}

h2{
    font-family: Poppins;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 10px;
}


footer {
    background-color: #0D6634;
    color: white;
    font-family: Poppins;
    text-align: left;
}