.article3 {
    color: white;
    background-color: #298C26;
}

.article2 {
    background-color: #F2A71B;
}

.article_deux {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.article_trois {
    color: #F2A71B;
    padding-bottom: 10px;
    margin-bottom: 70px;
}

.article_quattre {
    color: #298C26;
    margin-bottom: 0;
}

.green {
    color: #298C26;
}