
.article1 > h2 {
    color: #0C592E;
}

.article2 {
    background-color: #0C592E;
    color: white;
    padding-bottom: 10px;
}

.article2 > h2 {
    color: #F2A71B;
}

.article2 > blockquote {
    color: #F2A71B;
    margin-bottom: 16px;
}


.carousel h3 {
    color: white;
    text-align: center;
}

.carousel {
    padding: 20px 0;
}

ul.carousel-items {
    list-style: none;
    padding-left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-items {
    flex: 1 0 220px;
}

iframe {
    margin-right: 20px;
    scroll-snap-align: center;
}

.article2 > blockquote {
    color: #F2A71B;
}

.galerie {
   display: inline-block;
    text-align: center;
    padding: 0;
}

