

p  {
    display: inline-block;
}

img {
    width: 50%;
    height: 25%;
    margin-left: 25%;
}

.start_screen{
    background-image: url("../../img/fond.png");
    width: 375px;
    height: 800px;
    border-bottom-right-radius: 50% 5%;
    border-bottom-left-radius: 50% 5%;
}

h1, h3 {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-family: Silkscreen;

}

h1  {
    display: inline-block;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Silkscreen;
}

h4 {
    font-family: Caviar Dreams;
    color: darkgreen;
    margin-left: 5px;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: Poppins;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;

}


