font-face {
    font-family: Silkscreen;
    src: url("https://www.fontsquirrel.com/fonts/silkscreen");
}

font-face {
    font-family: Poppins;
    src: url("https://www.fontsquirrel.com/fonts/poppins");
}

font-face {
    font-family: "Caviar Dreams";
    src: url("https://www.fontsquirrel.com/fonts/caviar-dreams");
}